/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
.DS_Store
public/js/
public/css/
exception
public/main.js
public/mix-manifest.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
